* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.flex-container {
    display: flex;  
    flex-direction: column;
    height: 100vh;
}

.navbar {
    display: flex;
    justify-content: right;
    gap: 15px;
    align-items: center;
    height: 65px;
    padding: 0 20%;
    font-size: 18px;
    background-color: #1F2937;
    color: #F9FAF8;
}

.logo {
    font-size: 24px;
    font-weight: 900;
}

.container.navbar {
    flex-grow: 0;
}

.logo {
    margin-right: auto;
}

.container {
    display: flex;
    flex: auto;
}
