* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.flex-container {
    display: flex;  
    flex-direction: column;
}

.navbar {
    display: flex;
    justify-content: right;
    gap: 15px;
    align-items: center;
    height: 65px;
    padding: 0 10%;
    font-size: 18px;
    background-color: #1F2937;
    color: #F9FAF8;
}

.logo {
    font-size: 24px;
    font-weight: 900;
}

.container.navbar {
    flex-grow: 0;
}

.logo {
    margin-right: auto;
}

.container {
    display: flex;
    flex: auto;
}

.hero {
    background-color: #1F2937;
    color: #F9FAF8;
    padding: 50px 10%;
}

.hero-text, .image-placeholder {
    flex: 1;
    margin: auto;
}

.hero-text {
    font-size: 48px;
    font-weight: 900;
}

.hero-secondary-text {
    font-size: 18px;
    color: #E5E7EB;
    font-weight: normal;
}

button {
    background-color: #3882F6;
    text-decoration: none;
    border: none;
    color: #E5E7EB;
    border-radius: 4px;
    padding: 5px 20px;
    font-weight: 900;
}

.image-placeholder {
    text-align: center;
    background-color: grey;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.image-placeholder-text {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 10%;
}

.info-container {
    display: flex;
    gap: 50px;
}

.info-header {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    margin: 20px 0;
}

.info-image {
    border: solid 3px #3882F6;
    border-radius: 10px;
    height: 150px;
    width: 150px;
}

.info-card {
    text-align: center;
    width: 150px;
}

.container.quote {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px 20%;
    background-color: lightgrey;
    color: #1F2937;
    align-items: center;
}

.quote-text {
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
}

.quote-author {
    text-align: right;
    font-weight: 900;
    align-self: flex-end;
}

.container.cta {
    display: flex;
    color: #F9FAF8;
    justify-content: center;
    padding: 50px 0;
}

.cta-card {
    background-color: #3882F6;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
}

.cta-card {
    height: 100px;
    width: 60%;
    padding: 10px 20px;
}

.cta-text {
    display: flex;
    flex-direction: column;
}

.cta-button {
    border: solid 2px #F9FAF8;
    border-radius: 3px;
}

.footer {
    height: 65px;
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #F9FAF8;
}